/**************************************************** Tablet (768px bis 1024px) *****************************************************/
@media (min-width: 768px) and (max-width: 1023px) {
    .sub-featured {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }

    .product>img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }

    .sub-about {
        display: flex;
        text-align: start;
        align-items: center;
        gap: 50px;
        line-height: 1.5;
    }

    .sub-about>div>p {
        width: 100%;
        font-size: 1.1em;
    }



}


@media (min-width: 768px) and (max-width: 1150px) {

    /* 10% Off */
    .sub-off>img {
        width: 100%;

    }

    .sub-off {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }

    .sub-off>div {
        width: 80%;
        margin: 0 30px;
        font-size: 1.2em;

    }

    .sub-off>div>a>button {
        font-size: 1.3em;

    }
}


@media (min-width: 768px) and (max-width: 1150px) {

    /* Services */
    .sub-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        align-items: center;
    }

    .services-info {
        font-size: 1.2em;
    }
}










/**************************************************** Tablet (768px bis 1024px) *****************************************************/
@media (min-width: 768px) and (max-width: 1239px) {

    /* header */
    .hamburger {
        position: sticky;
        width: 30px;
        height: 21px;
        right: 30px;
        top: 60px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: block;
        transition: all 0.5s ease;

    }

    .menu {
        position: fixed;
        right: -100%;
        background-color: rosybrown;
        height: 100vh;
        width: 80%;
        max-width: 300px;
        top: 0;
        padding: 100px 20px;
        transition: all 0.5s ease;
        z-index: 999;
    }

    .menu>ul>li {
        margin-bottom: 30px;
    }

    .menu>ul {
        margin: 0;
        padding: 0;
    }

    .menu>ul>li>a {
        border-bottom: 1px solid #eee;
        padding: 10px;
        display: block;
        font-size: 1.3em;
    }

    .menu-toggle:checked~.menu {
        right: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.326);
        display: none;
        z-index: 998;
    }

    .menu-toggle:checked~.overlay {
        display: block;
    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* main > Banner */
    .banner {
        /* margin-bottom: 200px; */
    }

    .banner-image-titel {
        position: static;
        top: 20px;
        width: 90%;
    }

    .titel-banner {
        position: absolute;
        top: 30px;
    }

    .para-banner {
        text-align: center;
        margin-top: 30px;
        margin-left: 70px;
        line-height: 1.5;
        font-size: 1.2em;
    }

    .para-banner>button {
        border: none;
    }

    .titel-banner>h1 {
        width: 70vw;
        font-size: 1.8em;
    }

    .para-banner>button>a {
        font-size: 1.3em;
    }

}