/********************************************** Very small mobile device (up to 480px) *********************************************/
@media (max-width: 480px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
        /* يمنع ظهور شريط التمرير الأفقي */
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Header > menu */
    .logo {
        font-size: 1.8em;

    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 50px;
        z-index: 1000;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #333;
        transition: all 0.3s ease;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #333;
        transition: all 0.3s ease;
    }


    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background-color: rosybrown;
        z-index: 999;
        transition: all 0.5s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        padding: 80px 20px 20px;
    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
    }

    .menu li {
        margin-bottom: 15px;
    }

    .menu a {
        text-decoration: none;
        padding: 10px;
        display: block;
        border-bottom: 1px solid #eee;
    }

    .menu-toggle:checked~.menu {
        right: 0;

    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        display: none;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* banner */
    .main-banner {
        margin-bottom: 100px;
    }


    .sub-banner img {
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .img-banner {
        display: none;
    }

    .mobile-banner {
        display: block;
    }


    .titel-banner {
        position: static;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titel-banner h1 {
        margin-bottom: 30px;
        width: 350px;
        font-size: 2em;

    }

    .titel-banner p {
        width: 400px;
        margin-bottom: 20px;
        font-size: 2em;
        padding: 0 5% 0 5%;

    }

    .titel-banner button {
        border: none;
        background-color: rosybrown;
        padding: 10px 20px 10px 20px;
    }

    .titel-banner>button>a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-size: 2em;
    }

    /* Featured Products */
    .featured {
        all: revert;
        margin-bottom: 300px;
    }

    .featured h2 {
        font-size: 2em;
    }

    .sub-featured {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 20px 0 20px;
        gap: 3%;
    }

    .featured img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .featured h2 {
        font-size: 1.6em;
        margin: 0 20px 0 20px;
        margin-bottom: 30px;
    }

    .rabatt {
        font-size: 2em;
    }

    .product-info>div {
        font-size: 1.5em;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-info>div>p {
        font-size: 1.6em;
        text-align: center;
    }

    .preis {
        font-size: 1.5em;
    }

    .featured button {
        margin-top: 20px
    }

    .featured button a {
        font-size: 2em;
    }

    /* zwei products */
    .sub-zwei-products {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 0 20px 0 20px;

    }


    .hilights h3 {
        width: 250px;
        font-size: 1.8em;
    }

    .hilights p {
        font-size: 2em;
    }

    .hilights>div>button>a {
        font-size: 2em;
    }

    /* About-The-Brand */
    .brand {
        all: revert;
        background-color: antiquewhite;
        padding-bottom: 50px;
    }

    .brand-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-left: 0;

    }

    .brand-about h4 {
        margin-bottom: 30px;
        font-size: 23px;
        text-align: center;
        font-size: 2em;
    }

    .brand-about>div>p {
        text-align: center;
        padding: 0 8% 0 8%;
        width: 450px;
        font-size: 2em;
    }

    .brand-about img {
        width: 100%;

    }

    /* Mizharia */
    .sub-mizharia {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .sub-mizharia>div {
        text-align: center;
        padding: 0 30px 0 30px;

    }

    .sub-mizharia>div>p {
        font-size: 2em;


    }

    .mizharia img {
        width: 100%;
    }

    .sub-mizharia button a {
        font-size: 1.5em;
    }

    /* services */

    .sub-services {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    .sub-services>div>div>p {
        text-align: center;
        width: 300px;
        font-size: 1.5em;
    }

    .sub-services h5 {
        font-size: 2em;
    }

    /* Footer */
    .footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-left: 30px;
        padding-right: 30px;

        font-size: 1.5em;
    }

    .phone p {
        font-size: 2em;

    }

    .email a {
        font-size: 1.5em;
    }

    .Policy>div>a {
        font-size: 1.5em;
    }

    .social i {
        font-size: 1.5em;
    }

    .social>a {
        font-size: 1.3em;
    }


}



























/********************************************** Medium mobile device (481px to 767px) **************************************/
@media (min-width: 481px) and (max-width: 767px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
        /* يمنع ظهور شريط التمرير الأفقي */
        margin: 0 !important;
        padding: 0 !important;
    }

    /* Header > menu */
    .logo {
        font-size: 1.8em;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 50px;
        z-index: 1000;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #333;
        transition: all 0.3s ease;
    }

    .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background: #333;
        transition: all 0.3s ease;
    }


    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        max-width: 300px;
        height: 100vh;
        background-color: rosybrown;
        z-index: 999;
        transition: all 0.5s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        padding: 80px 20px 20px;

    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
    }

    .menu li {
        margin-bottom: 15px;
    }

    .menu a {
        text-decoration: none;
        padding: 10px;
        display: block;
        border-bottom: 1px solid #eee;
        font-size: 2em;
    }

    .menu-toggle:checked~.menu {
        right: 0;

    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        display: none;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* banner */
    .main-banner {
        margin-bottom: 100px;
    }


    .sub-banner img {
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .img-banner {
        display: none;
    }

    .mobile-banner {
        display: block;
    }


    .titel-banner {
        position: static;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2em;
        padding: 0 20px 0 20px;
    }

    .titel-banner h1 {
        margin-bottom: 30px;
        width: 350px;

    }

    .titel-banner p {
        width: 450px;
        margin-bottom: 20px;
    }

    .titel-banner button {
        border: none;
        background-color: rosybrown;
        padding: 10px 20px 10px 20px;
        margin-top: 10px;
    }

    .titel-banner button a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-size: 2em;
    }

    /* Featured Products */
    .featured {
        all: revert;
        margin-bottom: 50%;
    }


    .sub-featured {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 20px 0 20px;
        gap: 3%;
    }

    .featured img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .featured h2 {
        font-size: 1.7em;
        margin: 0 20px 0 20px;
        margin-bottom: 30px;
    }

    .rabatt {
        font-size: 1.8em;
    }

    .product-info {
        text-align: center;
    }

    .product-info>div {
        font-size: 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-info>div>p {
        text-align: center;
        font-size: 1.5em;
    }

    .featured button {
        margin-top: 20px
    }

    .preis {
        font-size: 1.8em;
    }

    .featured button a {
        font-size: 2em;
    }

    /* zwei products */
    .sub-zwei-products {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 0 20px 0 20px;

    }

    .sub-zwei-products img {
        height: auto;
    }


    .hilights h3 {
        width: 400px;
        font-size: 2em;

    }

    .hilights>div>p {
        font-size: 1.8em;
    }

    .hilights>div>button>a {
        font-size: 2em;
    }

    /* About-The-Brand */
    .brand {
        all: revert;
        background-color: antiquewhite;
        padding-bottom: 50px;
    }

    .brand-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-left: 0;
    }

    .brand-about h4 {
        margin-bottom: 30px;
        font-size: 23px;
        text-align: center;
        font-size: 2em;
    }

    .brand-about p {
        text-align: center;
        padding: 0 20px 0 20px;
        width: 450px;
        font-size: 1.8em;
    }

    .brand-about img {
        width: 100%;

    }

    /* Mizharia */
    .sub-mizharia {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .sub-mizharia>div {
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 1.8em;
    }

    .mizharia img {
        width: 100%;
    }

    .sub-mizharia button a {
        font-size: 2em;
    }

    /* services */
    .sub-services {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    .sub-services>div>div>p {
        text-align: center;
        width: 400px;
        font-size: 1.8em;
    }

    .sub-services h5 {
        font-size: 2em;
    }

    /* Footer */
    .footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-left: 30px;
        padding-right: 30px;

        font-size: 1.7em;
    }

    .gps div p {
        width: 300px;
    }

    .phone p {
        font-size: 1.7em;

    }

    .email a {
        font-size: 1.7em;
    }

    .Policy>div>a {
        font-size: 1.5em;
    }

    .social i {
        font-size: 1.5em;
    }

    .social>a {
        font-size: 1.5em;
    }
}