/********************************************** Very small mobile device (up to 480px) *********************************************/
@media (max-width: 480px) {
    body {
        /* overflow-x: hidden;
        margin: 0 !important;
        padding: 0 !important; */
    }

    /* header */
    .hamburger {
        position: sticky;
        width: 30px;
        height: 21px;
        right: 30px;
        top: 60px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: block;
        transition: all 0.5s ease;

    }

    .menu {
        position: fixed;
        right: -100%;
        background-color: rosybrown;
        height: 100vh;
        width: 80%;
        max-width: 300px;
        top: 0;
        padding: 100px 20px;
        transition: all 0.5s ease;
        z-index: 999;
    }

    .menu>ul>li {
        margin-bottom: 30px;
    }

    .menu>ul {
        margin: 0;
        padding: 0;
    }

    .menu>ul>li>a {
        border-bottom: 1px solid #eee;
        padding: 10px;
        display: block;
        font-size: 1.3em;
    }

    .menu-toggle:checked~.menu {
        right: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.326);
        display: none;
        z-index: 998;
    }

    .menu-toggle:checked~.overlay {
        display: block;
    }

    /* main > Banner */
    .image-banner {
        display: none;
    }

    .mobille-image {
        display: block;
    }

    .banner-image-titel {
        position: static;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        margin-top: 30px;

    }

    .banner-image-titel>button {
        font-size: 1.3em;
    }

    /* Featured Products */
    .sub-featured {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .product {
        text-align: center;
    }

    .product>img {
        height: auto;
    }

    .product-info {
        text-align: center;
        font-size: 1.2em;
    }

    .rabatt {
        font-size: 1.5em;
    }

    .product-info>h3 {
        font-size: 1.4em;
    }

    .preis {
        font-size: 1.4em;
    }

    .product-info>button>a {
        font-size: 1.2em;
    }

    /* Zwei-Cards */
    .sub-zwei-cards {
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .card-one {
        position: static;
        color: black;
        text-align: center;
        margin-top: 10px;
    }

    .card-one>p {
        font-size: 1.2em;
    }

    .card-two {
        position: static;
        color: black;
        text-align: center;
        margin-top: 10px;
    }

    .card-two>p {
        font-size: 1.2em;
    }

    .card>div>button>a {
        font-size: 1.3em;
    }

    /* About The Brand */
    .about {
        background-color: rgb(225, 195, 151);
        padding: 0;
        padding-bottom: 30px;
    }

    .sub-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .sub-about>img {
        width: 100%;
    }

    .sub-about>div>p {
        text-align: center;
        font-size: 1.3em;
        margin: 0 auto;
    }


    .sub-about>div>p:nth-child(1) {
        font-size: 1.3em;
    }

    /* 10% Off */
    .sub-off>img {
        width: 100%;

    }

    .sub-off {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }

    .sub-off>div {
        width: 80%;
        margin: 0 30px;
        font-size: 1.2em;

    }

    .sub-off>div>a>button {
        font-size: 1.3em;

    }

    /* Services */
    .sub-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-info {
        font-size: 1.2em;
    }

    /* Footer */
    .sub-footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 1.2em;
    }

    /* phone */
    .contact-us>h3 {
        font-size: 2em;
    }

    .location>div>p {
        font-size: 1.2em;
    }

    /* email */
    .location>div>a {
        font-size: 1.2em;
    }

    .main-policy>h3 {
        font-size: 2em;
    }

    .policy>a {
        font-size: 1.2em;
    }

    .main-media>h3 {
        font-size: 2em;
    }

    .media>a>i {
        font-size: 1.5em;
    }

    .media>div>a {
        font-size: 1.2em;
    }
}



/********************************************** Medium mobile device (481px to 767px) **************************************/
@media (min-width: 481px) and (max-width: 768px) {

    /* header */
    .hamburger {
        position: sticky;
        width: 30px;
        height: 21px;
        right: 30px;
        top: 60px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        height: 3px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: block;
        transition: all 0.5s ease;

    }

    .menu {
        position: fixed;
        right: -100%;
        background-color: rosybrown;
        height: 100vh;
        width: 80%;
        max-width: 300px;
        top: 0;
        padding: 100px 20px;
        transition: all 0.5s ease;
        z-index: 999;
    }

    .menu>ul>li {
        margin-bottom: 30px;
    }

    .menu>ul {
        margin: 0;
        padding: 0;
    }

    .menu>ul>li>a {
        border-bottom: 1px solid #eee;
        padding: 10px;
        display: block;
        font-size: 1.3em;
    }

    .menu-toggle:checked~.menu {
        right: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.326);
        display: none;
        z-index: 998;
    }

    .menu-toggle:checked~.overlay {
        display: block;
    }

    .menu-toggle:checked+.hamburger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .menu-toggle:checked+.hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked+.hamburger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    /* main > Banner */
    .image-banner {
        display: none;
    }

    .mobille-image {
        display: block;
    }

    .banner-image-titel {
        position: static;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        margin-top: 30px;

    }

    .banner-image-titel>button {
        font-size: 1.3em;
    }

    /* Featured Products */
    .sub-featured {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .product {
        /* text-align: center; */
    }

    .product>img {
        height: 220px;
    }

    .product-info {
        /* text-align: center; */
        font-size: 1.2em;
    }

    .rabatt {
        font-size: 1.5em;
    }

    .product-info>h3 {
        font-size: 1.4em;
    }

    .preis {
        font-size: 1.4em;
    }

    .product-info>button>a {
        font-size: 1.2em;
    }

    /* Zwei-Cards */
    .sub-zwei-cards {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        text-align: center;
    }

    .card-one {
        position: static;
        color: black;
        text-align: center;
        margin-top: 10px;
    }

    .card-one>p {
        font-size: 1.2em;
    }

    .card-two {
        position: static;
        color: black;
        text-align: center;
        margin-top: 10px;
    }

    .card-two>p {
        font-size: 1.2em;
    }

    .card>div>button>a {
        font-size: 1.3em;
    }

    /* About The Brand */
    .about {
        background-color: rgb(225, 195, 151);
        padding: 0;
        padding-bottom: 30px;
    }

    .sub-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .sub-about>img {
        width: 100%;
    }

    .sub-about>div>p {
        text-align: center;
        font-size: 1.3em;
        margin: 0 auto;
    }


    .sub-about>div>p:nth-child(1) {
        font-size: 1.3em;
    }

    /* 10% Off */
    .sub-off>img {
        width: 100%;

    }

    .sub-off {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }

    .sub-off>div {
        width: 80%;
        margin: 0 30px;
        font-size: 1.2em;

    }

    .sub-off>div>a>button {
        font-size: 1.3em;

    }

    /* Services */
    .sub-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        align-items: center;
    }

    .services-info {
        font-size: 1.2em;
    }

    /* Footer */
    .sub-footer {
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }

    /* phone */
    .contact-us>h3 {
        font-size: 2em;
    }

    .location>div>p {
        font-size: 1.2em;
    }

    /* email */
    .location>div>a {
        font-size: 1.2em;
    }

    .main-policy>h3 {
        font-size: 2em;
    }

    .policy>a {
        font-size: 1.2em;
    }

    .main-media>h3 {
        font-size: 2em;
    }

    .media>a>i {
        font-size: 1.5em;
    }

    .media>div>a {
        font-size: 1.2em;
    }
}